# Py Tuples

In [1]:
personInfo = ("Diana", 32, "New York")

In [2]:
tup1 = ('physics', 'chemistry', 1997, 2000);
tup2 = (1, 2, 3, 4, 5 );
tup3 = "a", "b", "c", "d";

## Data access

In [3]:
print(personInfo[0])
print(personInfo[1])

Diana
32

In [4]:
tup1 = ('physics', 'chemistry', 1997, 2000);
tup2 = (1, 2, 3, 4, 5, 6, 7 );

print("tup1[0]: ", tup1[0])
print("tup2[1:5]: ", tup2[1:5])

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

## Slicing a tuple

In [5]:
my_tuple = ('p','r','o','g','r','a','m','i','z')

print(my_tuple[1:4])

('r', 'o', 'g')

In [6]:
print(my_tuple[:-3])
print(my_tuple[:6])

('p', 'r', 'o', 'g', 'r', 'a')
('p', 'r', 'o', 'g', 'r', 'a')

In [7]:
print(my_tuple[7:])

('i', 'z')

In [8]:
# elements beginning to end
print(my_tuple[:])

('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

## updating tuples

In [9]:
tup1 = ('physics', 'chemistry', 1997, 2000);

In [10]:
# Following action is not valid for tuples
tup1[0] = 100;

TypeError: 'tuple' object does not support item assignment

In [11]:
tup1 = (12, 34.56);
tup2 = ('abc', 'xyz');

# So let's create a new tuple as follows
tup3 = tup1 + tup2;
print(tup3)

(12, 34.56, 'abc', 'xyz')

## Delete tuples

In [1]:
tup = ('physics', 'chemistry', 1997, 2000);
print(tup)

('physics', 'chemistry', 1997, 2000)

In [2]:
del tup;

In [3]:
print("After deleting tup : ")
print(tup)

After deleting tup :

NameError: name 'tup' is not defined

## Assigning multuiple variables

In [15]:
name,age,country,career = ('Diana',32,'Canada','CompSci')

In [16]:
print(country)

Canada

In [17]:
print(age)

32

In [18]:
print(career)

CompSci

## Append values to a tuple

In [19]:
x = (3,4,5,6)

In [20]:
x = x + (1,2,3)
print(x)

(3, 4, 5, 6, 1, 2, 3)

In [21]:
# print datatype
for item in x:
    print(type(item))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

## Basic tuple operators

In [2]:
my_tuple = ('a','p','p','l','e',)

# Count
print(my_tuple.count('p'))

2

In [3]:
# Index
print(my_tuple.index('l'))

3

In [14]:
l=(1,2,4,1,1,2)
print(l.count(1))
print(l.index(2))

3
1