In [1]:
0b10

2

In [6]:
a = 0o10
print(a)
type(a)

8

int

In [4]:
hex = 0xA0F
print(hex)
type(hex)

2575

int

In [7]:
type(5)

float

In [2]:
type(3.5)

float

In [3]:
a= 5+3j

In [5]:
b = a**2
print(b)
type(b)

(16+30j)

complex

In [11]:
int(2.7)

2

In [12]:
int(-3.9)

-3

In [13]:
int("2")

2

In [14]:
float(2)

2.0

In [15]:
float("2.7")

2.7

In [16]:
float("2.7E-2")

0.027

In [12]:
float(False)

0.0

In [7]:
complex(True)

(1+0j)

In [8]:
str(4.5)

'4.5'

In [20]:
str([1, 3, 5])

'[1, 3, 5]'

In [21]:
set([1, 2])

{1, 2}

In [15]:
#list(vM)

In [32]:
list({1:"a", 2:"b"})

[1, 2]

In [20]:
int1=4

In [23]:
float1 = int1+2.1
print(float1)

6.1

In [26]:
str1 = "my int: " + str(int1) #convert number to string. we cannot add together directly
                                #"my int:" + int1  --> Error
print(str1)

my int: 4

In [31]:
int2 = float(4) + True
print(int2)

5.0

In [35]:
i = 35
i = i+2   # This is called Reassignment / Modification
print(i)
type(i)

37

int

All variables are identifiers, but not all identifiers are variables
Identifier are case sensitive (upper-case & lower case)
can start with "_", upper case letter or lower case letter

In [36]:
import keyword

In [37]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

accepting user inputs
input() accepts input and stores it as a string
if the user inputs a integer, the code should convert the string to an integer and then proceed

In [40]:
abc = input("Type something here and it will be stored in variabl abc \t")

Type something here and it will be stored in variabl abc 	a

In [39]:
if (4>3):
    print("True")
else:
    print("False")

True

In [42]:
year = input("Type a year \t")
if int(year) % 4 == 0:
    if int(year) % 100 == 0:      # Middle "if" changes to red color
        if int(year) % 400 == 0:
            print("{0} is a leap year".format(year))
        else:
            print("{0} is not a leap year".format(year))    # "else"s change to red color
    else:
        print("{0} is a leap year".format(year))
else:
    print("{0} is not a leap year".format(year))

Type a year 	2015
2015 is not a leap year

In [50]:
number = input("what is the grade: ")   # int(input("Enter the grade: "))
if int(number) > 100:
    print ("Error")
elif int(number) < 0:
    print ("Error")    #print "Error"
else:
    print(number)

what is the grade: 35
35

In [59]:
numb = input("what is the grade: ")
if int(numb) > 100 or int(numb) < 0:
    print ("Error")
else:
    print(numb)

what is the grade: 108
Error

In [61]:
x = 12
if x > 10:
    print("hello")

hello

In [62]:
x = 12 
if x>10:
    print("Hello")
else:
    print("world")

Hello

In [63]:
x = 10
y = 12
if x > y:
    print("x>y")
elif x < y:
    print("x<y")
else:
    print("x=y")

x<y

In [64]:
for count in range(10, 0, -1):
    print(count)

10
9
8
7
6
5
4
3
2
1

In [65]:
number = 2
exponent = 6
product = 1
for eachpass in range(exponent):
    product = product * number
    print(product,)

2
4
8
16
32
64

In [66]:
for character in ("Hi There!"):
    print(character,)

H
i

T
h
e
r
e
!

In [70]:
count = 10
while count >= 1:
    print(count,)
    count = count -1.33

10
8.67
7.34
6.01
4.68
3.3499999999999996
2.0199999999999996

In [71]:
for i in range(4):
    print(i)

0
1
2
3

In [74]:
for x in range(6):
    if (x == 3 or x == 4):
        continue
    print(x,end=' ')

0 1 2 5

In [77]:
N = 10
for y in range(2,N):    # y = 2, 3, ,4, 5, 6, ... 10
    for x in range(2,y):
        if y % x == 0:
            print(y, 'equals', x, '*', y//x)
            break
    else:
        #loop fell through without finding a factor
        print(y, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [78]:
for count in range(10):
    print(count,)

0
1
2
3
4
5
6
7
8
9

True