# STRINGS in Python

## How to create a string?

In [128]:
# all of the following are equivalent
my_string = 'Hello'
print(my_string)

Hello

In [129]:
my_string = "Hello"
print(my_string)

Hello

In [130]:
my_string = '''Hello'''
print(my_string)

Hello

In [131]:
# triple quotes string can extend multiple lines
my_string = """Hello, welcome to
           the world of Python"""
print(my_string)

Hello, welcome to
           the world of Python

## How to access characters in a string?

In [104]:
str = 'program'
print('str = ', str)

str =  program

In [105]:
#first character
print('str[0] = ', str[0])

str[0] =  p

In [106]:
#last character
print('str[-1] = ', str[-1])

str[-1] =  m

In [107]:
#slicing 2nd to 5th character
print('str[1:5] = ', str[1:5])

str[1:5] =  rogr

## How to change or delete a string?

In [149]:
my_string[4] = 'a'
print(my_string)

TypeError: 'str' object does not support item assignment

In [109]:
del my_string[1]

TypeError: 'str' object doesn't support item deletion

## String Operations

### Concatenation of Two or More Strings

In [11]:
str1 = 'Hello'
str2 = 'World!'

In [12]:
# using +
print('str1 + str2 = ', str1 + str2)

str1 + str2 =  HelloWorld!

In [13]:
# using *
print('str1 * 3 =', str1 * 3)

str1 * 3 = HelloHelloHello

In [14]:
# two string literals together
'Hello ''World!'

'Hello World!'

In [15]:
# using parentheses
s = ('Hello ' 
           'World')
s

'Hello World'

### Iterating Through String

In [82]:
count = 0
for letter in 'Hello World':
    if(letter == 'o'):
        count += 1
print(count,'letters found')

2 letters found

In [17]:
def Count(word, letter):
    count = 0
    for character in word:
        if character == letter:
            count = count + 1
    return count

print(Count("Program", "r"))

2

### Comparing strings

In [18]:
word = "apple"
if word < "banana":
    print("The word, " + word + ", comes before banana.")
elif word > "banana":
    print("The word, " + word + ", comes after banana.")
else:
    print("Alright, this is a banana!")

The word, apple, comes before banana.

In [19]:
word = "strawberry"
if word < "banana":
    print("The word, " + word + ", comes before banana.")
elif word > "banana":
    print("The word, " + word + ", comes after banana.")
else:
    print("Alright, this is a banana!")

The word, strawberry, comes after banana.

### String Membership Test

In [20]:
'a' in 'program'

True

In [21]:
'ogr' not in 'program'

False

### Built-in functions to Work with Python

In [140]:
str = 'Committee'

In [92]:
# enumerate()
list_enumerate = list(enumerate(str))
print('list(enumerate(str) = ', list_enumerate)

list(enumerate(str) =  [(0, 'C'), (1, 'o'), (2, 'm'), (3, 'm'), (4, 'i'), (5, 't'), (6, 't'), (7, 'e'), (8, 'e')]

In [93]:
#character count
print('len(str) = ', len(str))

len(str) =  9

In [94]:
# capitalize
print(str.capitalize())

Committee

In [98]:
# count
print(str.count('t'))

2

In [126]:
# find
print(str.find('te'))  # return -1 means the letter cannot be found. It is convention.

6

In [141]:
# is alphabetux?
print(str.isalpha())    # is the still all about letters?

True

In [29]:
# is numeric?
print(str.isnumeric())

False

In [30]:
# is lowercase?
print(str.islower())

False

In [31]:
# converts to lowercase
print(str.lower())

committee

In [32]:
# min/max of the string
print(min(str))
print(max(str))

C
t

### Python String Formatting

In [33]:
# using triple quotes
print('''He said, "What's there?"''')

He said, "What's there?"

In [34]:
# escaping single quotes
print('He said, "What\'s there?"')

He said, "What's there?"

In [2]:
# Raw String to ignore escape sequence
print("This is \x61 \ngood example")

This is  good example

### The format() Method for Formatting Strings

#### The format() method that is available with the string object is very versatile and powerful in formatting strings

#### Format strings contains curly braces {} as placeholders or replacement fields which gets replaced.

In [6]:
# default(implicit) order
default_order = "{}, {} and {}.".format('John','Bill','Sean')
print('\n--- Default Order ---')
print(default_order)

--- Default Order ---
John, Bill and Sean.

In [41]:
# order using positional argument
positional_order = "{1}, {0} and {2}".format('John','Bill','Sean')
print('\n--- Positional Order ---')
print(positional_order)

--- Positional Order ---
Bill, John and Sean

In [42]:
# order using keyword argument
keyword_order = "{s}, {b} and {j}".format(j='John',b='Bill',s='Sean')
print('\n--- Keyword Order ---')
print(keyword_order)

--- Keyword Order ---
Sean, Bill and John

In [43]:
# more examples with format:

 # formatting integers
"Binary representation of {0} is {0:b}".format(12)

'Binary representation of 12 is 1100'

In [44]:
# formatting floats
"Exponent representation: {0:e}".format(1566.345)  # 1.123 = 1.123e+03

'Exponent representation: 1.566345e+03'

In [19]:
# round off
"One third is: {0:.3f}".format(4/3)

'One third is: 1.333'

In [46]:
# string alignment
"|{:<10}|{:^10}|{:>10}|".format('butter','bread','ham')

'|butter    |  bread   |       ham|'

In [20]:
type(4/3)

float

In [25]:
set1 = {1,2,3,'python'}
set1[1] = 2

TypeError: 'set' object does not support item assignment

### Old style formatting

In [4]:
x = 12.3456789
print('The value of x is %3.2f.' %x)

The value of x is 12.35.

In [48]:
print('The value of x is %3.4f' %x)

The value of x is 12.3457

### Other common Py string methods

In [142]:
"PrOgRaMmer".lower()

'programmer'

In [143]:
"PrOgRaMMER".upper()

'PROGRAMMER'

In [144]:
"This will split all words into a list".split()

['This', 'will', 'split', 'all', 'words', 'into', 'a', 'list']

In [145]:
' '.join(['This', 'will', 'join', 'all', 'words', 'into', 'a', 'string'])

'This will join all words into a string'

In [146]:
'Happy New Year'.find('ew')

7

In [54]:
'Happy New Year'.replace('Happy','Brilliant')

'Brilliant New Year'

In [1]:
S = 'what is the color'

In [2]:
print(S[-7])

e

In [3]:
print(S[9])

h

In [4]:
print(S[3:11])

t is the

In [5]:
print(S[:10])

what is th

In [6]:
print(S[10:])

e color

# What is the color

0  1 23456 789 101112

what is the color

0123456789
            
            ...-1

In [15]:
print(S[10:0:-1])

eht si tah

In [16]:
print(S[10::-1])

eht si tahw

In [13]:
print(S[::-1])

roloc eht si tahw

In [18]:
greeting = 'hello, world!'
new_greeting = 'J' + g[1:]
print(new_greeting)

Jello, world!

In [ ]:
word =

In [26]:
a = "hello"
#2 *a = "hellohello"
SS = 2*(a+" ") + a

SS[:len(SS)]

'hello hello hello'

In [28]:
SSS = 3*(a+" ")
SSS[:len(SSS)]

'hello hello hello '

% - modulo sign

In [30]:
pencils = 33
"%d" % pencils

'33'

%d equivalents to variables, where is the variable? at the end of the parenthesis.

In [31]:
print("I have %d pencils!" % pencils)

I have 33 pencils!

In [33]:
"%d %d %d" % (1,3,5) # the two side have to match the number of variables.

'1 3 5'

In [59]:
print("Art: %8.3f, Price per unit: %8.2f" %(53, 59.083))

Art:   53.000, Price per unit:    59.08

In [62]:
print("Art: %5.3f, Price per unit: %8.5f" %(53.789, 59.083))

Art: 53.789, Price per unit: 59.08300

In [58]:
data = "Extract the domain name from the email address zhongyiz@uchicago.edu"
atpos = data.find("@")
print(atpos)
name = data[atpos + 1:]
print(name)

55
uchicago.edu