Questions

In [ ]:

##Highest Precedence	President	()	Parentheses
#Dr. Powers	**	Exponentiation for example: 5**2= 25
#Dr. Asterisk	*	Multiplication  example: 5*3= 15
#Dr. Slash	/	Division  example  6/3=2
#Dr. Plus	+	Addition    example: 5+3=8
#Lowest Precedence	Dr. Minus	â€“	Subtraction   example: 3+2 =5

In [ ]:
#the core data types include:
#    none, the example is none
#    booleans, examples are true and false
#    numbers, exmaples are 12,34,5.8,6/5, 1+2i...
#    strings, are words like "hello world"
#    lists, exmaples are list(range(5)): 0,1,2,3,4 exclude 5
#    functions, def a function includes variables
#    sets
#    example:
def function(x):
    return 3*x
a = function(5)
print(a)
# tuples examples like(55,'hello world',444,'universe'), tuple('helloworld')
#files exmaples like open('titanic.text')
#import

In [ ]:
#for loop example:
x = 0
for i in range(5):
    x = x + i
    print (x)

In [ ]:
#Everything in Python is an object. And what every newcomer to Python should quickly 
#learn is that all objects in Python can be either mutable or immutable

In [ ]:
#The tuples are immutable, but lists are mutable.
#tuples is unable to change, lists are for variable lengths

In [ ]:

#a simple iteration is like: 
for i in range(1,6):
    if i == 4:
         break
    print(i)

#a more complicated iterative is like
#for exmaple we can use it to find prime numbers from 2 to 50
n = 2
while n <= 50:
    prime = True
    t = 2
    while t < n:
        if(n % t) == 0:
            prime = False
        t += 1
    if prime:
        print (n)
    n += 1

Coding test

In [ ]:
import numpy as np
import pandas as pd

In [ ]:

PersonalInfo = dict(7)
WorkInfo = dict(4)

PersonalinfoInfo['a,b,c,d']='four'
WorkInfo['a,b,c']='three'
print (PersonalInfo)
print (WorkInfo)

Question 3

In [ ]:
dates = pd.date_range('20180927', periods = 12)
print(dates)
df = pd.DataFrame(np.random.randn(12,1),index = dates, columns = ['will'])
print(df)

Question 4

In [ ]:
 df = pd.DataFrame({
    'col1' : ['A', 'B', 'C', np.nan, 'K', 'Z'],
    'col2' : [200, 18, 1, 92, 3, 47],
    'col3': [5, 4, 8, 3, 14, 260],
    'col4': [3, 4, 5, 8, 14, 260],
    'col5': [3, 4, 5, 8, 14, 260]
 })
df.sort_values(by ='col5', ascending= True)
df

Question 5

In [ ]:
a = np.array([2,23,4])
print(a)
b = np.array([2,23,4],dtype=np.int32)
print(b.dtype)
c = np.array([2,23,4],dtype=np.float16)
print(c.dtype)
d = np.array([[2,23,4],
             [2,32,4]])
print(d)
e = np.zeros((3,4))
print(e)
f = np.ones((5,7),dtype=np.int16)
print(f)

Class

In [23]:
print("this is my first python script")
print("It calulate the sums of two numbers")

import sys

a = int(input())
b = int.input()

c = a + b 
print(c)


#let's use different variables 
#Strings
#integers
#floats
#multiple operators
#remeber the last value

this is my first python script
It calulate the sums of two numbers

AttributeError: type object 'int' has no attribute 'input'

In [19]:
a = 5/3
b= 3/5
print("a+b = ", a+b)

a+b =  2.2666666666666666

In [20]:
7//3

2

7/3

In [21]:
7/3

2.3333333333333335