The fundamental difference between an Array and a Dictionary is:

Array - holds a group of homogeneous elements. Ex; Array of integers
Dictionary - contains a key value pairs

A dictionary is a general concept that maps keys to values. There are many ways to implement such a mapping.

A hashtable is a specific way to implement a dictionary.

Besides hashtables, another common way to implement dictionaries is red-black trees.

Each method has it's own pros and cons. A red-black tree can always perform a lookup in O(log N). A hashtable can perform a lookup in O(1) time although that can degrade to O(N) depending on the input.

Difference between Recursive algorithm and Iterative algorithm :  

RECURSIVE ALGORITHM -  

Recursive algorithm uses a function that is partially defined by itself  
Recursive algorithm uses selection structure  
Infinite recursion occurs if the recursion step does not reduce the problem in a manner that converges on some   condition.(base case)  
Recursion terminates when a base case is recognized  
Recursion is usually slower then iteration due to overhead of maintaining stack  
Recursive algorithm uses more memory than iteration  
Infinite recursion can crash the system  
Recursion makes code smaller  
1.Factorial of a Number using Recursion  
 
int calfactorial(int n)

{

/* Base condition if n equals to 1 then return 1 */

if(n==1)

return 1;

else

/* Recursive call */

return (n * calfactorial(n-1) );

}

2.Sum of N Natural Numbers using Recursion  

int sum (int n) {

if ( n <= 0) {

return 0;

} else {

/* Recursive call */

return n + sum (n-1);

}

}

ITERATIVE ALGORITHM -

Iterative algorithms are loop based repetitions of a process  
Iterative algorithm uses repetition structure  
An infinite loop occurs with iteration if the loop-condition test never becomes false  
Iteration terminates when the loop-condition fails  
Iteration does not use stack so it's faster than recursion  
Iterative algorithm consume less memory  
Infinite looping uses CPU cycles repeatedly  
Iteration makes code longer  
1.Factorial Program using Iterative Method  

int calfactorial (int n){

int fac = 1;

for (int i = 2; i <= n; i++){

fac = fac * i;

}

return fac;

}

2.Sum of N Natural Numbers using Iteration  

int sum (int n) {  

int num = 0;

for ( i = 1 ; i <= n; i++ ) {

num = num + i;

}

return num;

}

NumPy is the fundamental package for scientific computing in Python. It is a Python library that provides a multidimensional array object, various derived objects (such as masked arrays and matrices), and an assortment of routines for fast operations on arrays, including mathematical, logical, shape manipulation, sorting, selecting, I/O, discrete Fourier transforms, basic linear algebra, basic statistical operations, random simulation and much more.

At the core of the NumPy package, is the ndarray object. This encapsulates n-dimensional arrays of homogeneous data types, with many operations being performed in compiled code for performance. There are several important differences between NumPy arrays and the standard Python sequences:

NumPy arrays have a fixed size at creation, unlike Python lists (which can grow dynamically). Changing the size of an ndarray will create a new array and delete the original.
The elements in a NumPy array are all required to be of the same data type, and thus will be the same size in memory. The exception: one can have arrays of (Python, including NumPy) objects, thereby allowing for arrays of different sized elements.
NumPy arrays facilitate advanced mathematical and other types of operations on large numbers of data. Typically, such operations are executed more efficiently and with less code than is possible using Python’s built-in sequences.
A growing plethora of scientific and mathematical Python-based packages are using NumPy arrays; though these typically support Python-sequence input, they convert such input to NumPy arrays prior to processing, and they often output NumPy arrays. In other words, in order to efficiently use much (perhaps even most) of today’s scientific/mathematical Python-based software, just knowing how to use Python’s built-in sequence types is insufficient - one also needs to know how to use NumPy arrays.

Algorithm is a step-by-step procedure, which defines a set of instructions to be executed in a certain order to get the desired output. Algorithms are generally created independent of underlying languages, i.e. an algorithm can be implemented in more than one programming language.

From the data structure point of view, following are some important categories of algorithms −

Search − Algorithm to search an item in a data structure.

Sort − Algorithm to sort items in a certain order.

Insert − Algorithm to insert item in a data structure.

Update − Algorithm to update an existing item in a data structure.

Delete − Algorithm to delete an existing item from a data structure.

In computer programming, pandas is a software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series. It is free software released under the three-clause BSD license.[2] The name is derived from the term "panel data", an econometrics term for data sets that include observations over multiple time periods for the same individuals.

In [38]:
PersonalInfo = {"Name":"John","Phone": "123-456-7890","Address":"1001 Abbot Rd","EyeColor":"Brown",
                "Height":"5'10","Weight":"160 lbs","Gender":"Male"}
WorkInfo = {"WorkID": "3456987","Email":"johnson@workwork.com","Position":"Engineer","Experiences":"3 years"}
NewInfo = {}
for d in (PersonalInfo,WorkInfo): 
    NewInfo.update(d)
print(PersonalInfo)
print(WorkInfo)
print(NewInfo)

{'Name': 'John', 'Phone': '123-456-7890', 'Address': '1001 Abbot Rd', 'EyeColor': 'Brown', 'Height': "5'10", 'Weight': '160 lbs', 'Gender': 'Male'}
{'WorkID': '3456987', 'Email': 'johnson@workwork.com', 'Position': 'Engineer', 'Experiences': '3 years'}
{'Name': 'John', 'Phone': '123-456-7890', 'Address': '1001 Abbot Rd', 'EyeColor': 'Brown', 'Height': "5'10", 'Weight': '160 lbs', 'Gender': 'Male', 'WorkID': '3456987', 'Email': 'johnson@workwork.com', 'Position': 'Engineer', 'Experiences': '3 years'}

In [39]:
#Test
print(len(PersonalInfo))
print(len(WorkInfo))
print(len(NewInfo))
bool(len(PersonalInfo)+len(WorkInfo)==len(NewInfo))

7
4
11

True

In [40]:
PersonalInfo["Marital Status"] = "Yes"
PersonalInfo["Hobby"] = "Running"
del WorkInfo["Experiences"]
WorkInfo["Technical Skills"] = "Python, R"
print(PersonalInfo)
print(WorkInfo)

{'Name': 'John', 'Phone': '123-456-7890', 'Address': '1001 Abbot Rd', 'EyeColor': 'Brown', 'Height': "5'10", 'Weight': '160 lbs', 'Gender': 'Male', 'Marital Status': 'Yes', 'Hobby': 'Running'}
{'WorkID': '3456987', 'Email': 'johnson@workwork.com', 'Position': 'Engineer', 'Technical Skills': 'Python, R'}

In [1]:
import pandas as pd
import numpy as np

In [10]:
dates = pd.date_range('20180511', periods=12,)
dates
df = pd.DataFrame(np.random.randn(12,7), index=dates, columns=list('1234567'))
df

,1,2,3,4,5,6,7
2018-05-11,-0.968391,1.423946,-1.620004,-2.353205,-0.341011,-0.319929,0.281256
2018-05-12,0.833476,0.409075,-0.739299,0.604669,0.611126,-2.221543,-0.928055
2018-05-13,-0.412858,-1.861396,0.785535,-0.526421,-1.226388,-0.813453,-0.762146
2018-05-14,-1.153524,0.767970,0.386391,1.916895,-0.482940,-0.454447,0.520045
2018-05-15,0.299330,0.139747,-0.336188,1.227510,-1.541367,1.228736,0.649179
2018-05-16,-0.307232,-0.548823,-2.047232,0.710806,-0.998340,0.506602,0.052061
2018-05-17,0.034298,-0.403502,-0.039563,-0.537440,-1.151200,-2.628338,1.745018
2018-05-18,0.403804,0.655241,1.311644,0.203165,-1.713285,1.530123,-1.000217
2018-05-19,-0.394710,0.851969,-1.198809,1.943368,1.061702,-0.604845,0.116920
2018-05-20,0.765412,1.206085,1.087562,-1.872350,-1.176311,-0.183213,-0.590416
2018-05-21,-0.536504,0.497700,0.021009,0.342023,0.744752,0.735367,-3.419019
2018-05-22,-0.818208,-0.462570,2.288225,0.331921,-0.031726,0.575335,1.051595

In [14]:
df.sort_values(by='5',ascending = True)

,1,2,3,4,5,6,7
2018-05-18,0.403804,0.655241,1.311644,0.203165,-1.713285,1.530123,-1.000217
2018-05-15,0.299330,0.139747,-0.336188,1.227510,-1.541367,1.228736,0.649179
2018-05-13,-0.412858,-1.861396,0.785535,-0.526421,-1.226388,-0.813453,-0.762146
2018-05-20,0.765412,1.206085,1.087562,-1.872350,-1.176311,-0.183213,-0.590416
2018-05-17,0.034298,-0.403502,-0.039563,-0.537440,-1.151200,-2.628338,1.745018
2018-05-16,-0.307232,-0.548823,-2.047232,0.710806,-0.998340,0.506602,0.052061
2018-05-14,-1.153524,0.767970,0.386391,1.916895,-0.482940,-0.454447,0.520045
2018-05-11,-0.968391,1.423946,-1.620004,-2.353205,-0.341011,-0.319929,0.281256
2018-05-22,-0.818208,-0.462570,2.288225,0.331921,-0.031726,0.575335,1.051595
2018-05-12,0.833476,0.409075,-0.739299,0.604669,0.611126,-2.221543,-0.928055
2018-05-21,-0.536504,0.497700,0.021009,0.342023,0.744752,0.735367,-3.419019
2018-05-19,-0.394710,0.851969,-1.198809,1.943368,1.061702,-0.604845,0.116920

In [17]:
np1 = np.linspace(3., 9., 25)
np1

array([3.  , 3.25, 3.5 , 3.75, 4.  , 4.25, 4.5 , 4.75, 5.  , 5.25, 5.5 ,
       5.75, 6.  , 6.25, 6.5 , 6.75, 7.  , 7.25, 7.5 , 7.75, 8.  , 8.25,
       8.5 , 8.75, 9.  ])

In [37]:
print(np1.max())
print(np1.min())
print(np1.mean())
print(sum(np1)/25)

9.0
3.0
6.0
6.0

In [26]:
v = np.linspace(3., 9., 25).reshape(5,5)
v

array([[3.  , 3.25, 3.5 , 3.75, 4.  ],
       [4.25, 4.5 , 4.75, 5.  , 5.25],
       [5.5 , 5.75, 6.  , 6.25, 6.5 ],
       [6.75, 7.  , 7.25, 7.5 , 7.75],
       [8.  , 8.25, 8.5 , 8.75, 9.  ]])

In [28]:

df2 = pd.DataFrame(v, index=list('12345'), columns=list('12345'))
df2

      1     2     3     4     5
1  3.00  3.25  3.50  3.75  4.00
2  4.25  4.50  4.75  5.00  5.25
3  5.50  5.75  6.00  6.25  6.50
4  6.75  7.00  7.25  7.50  7.75
5  8.00  8.25  8.50  8.75  9.00

In [42]:
#df.to_csv("aaa.csv")

In [21]:
import pandas as pd
df = pd.read_csv('/home/nbuser/armenian_pubs.csv')
df.to_excel('data_set_2.xlsx')
df.to_csv(“file_name.csv”)

FileNotFoundError: File b'/home/nbuser/armenian_pubs.csv' does not exist