# Final Exam - December 6, 2018

# Set 1

Name: Zhongyi Zhang  
Netid: zhongyiz@uchicago.edu

## A. Dictionaries

#### 1. Create two dictionaries: PersonalInfo with 7 key-value pairs & WorkInfo with 4 key-value pairs
Ex: First name - John, Last name - Doe, Age - 25, Address - 111 North Street, Phone - (312) 235-5584, etc... and 

Work address - 123 South street, Phone - (630) 787-4453, etc...

In [127]:
PersonalInfo = {"Name":"John","Phone": "123-456-7890","Address":"1001 Abbot Rd","EyeColor":"Brown",
                "Height":"5'10","Weight":"160 lbs","Gender":"Male"}
WorkInfo = {"WorkID": "3456987","Email":"johnson@workwork.com","Position":"Engineer","Experiences":"3 years"}
print(PersonalInfo)
print(WorkInfo)

{'Name': 'John', 'Phone': '123-456-7890', 'Address': '1001 Abbot Rd', 'EyeColor': 'Brown', 'Height': "5'10", 'Weight': '160 lbs', 'Gender': 'Male'}
{'WorkID': '3456987', 'Email': 'johnson@workwork.com', 'Position': 'Engineer', 'Experiences': '3 years'}

#### 2. Add a new pair key-value to the dictionary PersonalInfo and remove a key-value pair from WorkInfo. Print results after the 2 operations

In [128]:
PersonalInfo["Marital Status"] = "Yes"
del WorkInfo["Experiences"]
print(PersonalInfo)
print(WorkInfo)

{'Name': 'John', 'Phone': '123-456-7890', 'Address': '1001 Abbot Rd', 'EyeColor': 'Brown', 'Height': "5'10", 'Weight': '160 lbs', 'Gender': 'Male', 'Marital Status': 'Yes'}
{'WorkID': '3456987', 'Email': 'johnson@workwork.com', 'Position': 'Engineer'}

#### 3. Concatenate the 2 dictionaries and print all 3 dictionaries. Iterate through the compound dictionary by printing every key-value pair, each on one line

In [129]:
NewInfo = {}
for d in (PersonalInfo,WorkInfo): 
    NewInfo.update(d)
#print(PersonalInfo)
for key1,value1 in PersonalInfo.items():
    print(key1,":",value1)
#print(WorkInfo)
for key2,value2 in WorkInfo.items():
    print(key2,":",value2)
#print(NewInfo)
for key3,value3 in NewInfo.items():
    print(key3,":",value3)

Name : John
Phone : 123-456-7890
Address : 1001 Abbot Rd
EyeColor : Brown
Height : 5'10
Weight : 160 lbs
Gender : Male
Marital Status : Yes
WorkID : 3456987
Email : johnson@workwork.com
Position : Engineer
Name : John
Phone : 123-456-7890
Address : 1001 Abbot Rd
EyeColor : Brown
Height : 5'10
Weight : 160 lbs
Gender : Male
Marital Status : Yes
WorkID : 3456987
Email : johnson@workwork.com
Position : Engineer

#### 4. Sort the compound dictionary by keys in descending order and print on record per line

In [130]:
#The compound dictionary is the NewInfo, which I named in the previous cell.
from operator import itemgetter 
v = sorted(NewInfo, key=itemgetter(0), reverse=True)
#It is in descending order, and the first letter of each key start from ZYX...CBA. This should be the descending order.
#ABCDEF... ascending order
#ZYXWVU... descending order
for key in v:
    print(key)
# one on each line with descending (reversed) alphabetic order

Weight
WorkID
Phone
Position
Name
Marital Status
Height
Gender
EyeColor
Email
Address

## B. numpy

#### 5. Create and print a numpy 1-d array containing 25 decimal numbers that starts at 1 and end at 7. Calculate and print the min, max and avarage value of this 1-d array

In [131]:
import numpy as np
from numpy  import *
np1 = np.linspace(1., 7., 25)
np1
print(np1)

print(np1.min())
print(np1.max())
print(np1.mean())

[1.   1.25 1.5  1.75 2.   2.25 2.5  2.75 3.   3.25 3.5  3.75 4.   4.25
 4.5  4.75 5.   5.25 5.5  5.75 6.   6.25 6.5  6.75 7.  ]
1.0
7.0
4.0

#### 6. Create and print a 2 dimensional array A that has 16 rows and 4 columns composed of consecutive integers. Change the shape of the array A to a new array B that has 8 rows and 8 columns and print it out

In [132]:
A = np.arange(64).reshape(16, 4)
print(A)
B = A.reshape(8, 8)
print(B)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]
 [16 17 18 19]
 [20 21 22 23]
 [24 25 26 27]
 [28 29 30 31]
 [32 33 34 35]
 [36 37 38 39]
 [40 41 42 43]
 [44 45 46 47]
 [48 49 50 51]
 [52 53 54 55]
 [56 57 58 59]
 [60 61 62 63]]
[[ 0  1  2  3  4  5  6  7]
 [ 8  9 10 11 12 13 14 15]
 [16 17 18 19 20 21 22 23]
 [24 25 26 27 28 29 30 31]
 [32 33 34 35 36 37 38 39]
 [40 41 42 43 44 45 46 47]
 [48 49 50 51 52 53 54 55]
 [56 57 58 59 60 61 62 63]]

#### 7. Add "elementwise" the numpy array obtained above (B) with the appropriate size identity array. Print the results

In [133]:
#elementwise Add
C = np.eye(8, 8, k=0, dtype=int)
C
C + B

array([[ 1,  1,  2,  3,  4,  5,  6,  7],
       [ 8, 10, 10, 11, 12, 13, 14, 15],
       [16, 17, 19, 19, 20, 21, 22, 23],
       [24, 25, 26, 28, 28, 29, 30, 31],
       [32, 33, 34, 35, 37, 37, 38, 39],
       [40, 41, 42, 43, 44, 46, 46, 47],
       [48, 49, 50, 51, 52, 53, 55, 55],
       [56, 57, 58, 59, 60, 61, 62, 64]])

In [134]:
#BTW, FYI:
#element minus
C - B

array([[  1,  -1,  -2,  -3,  -4,  -5,  -6,  -7],
       [ -8,  -8, -10, -11, -12, -13, -14, -15],
       [-16, -17, -17, -19, -20, -21, -22, -23],
       [-24, -25, -26, -26, -28, -29, -30, -31],
       [-32, -33, -34, -35, -35, -37, -38, -39],
       [-40, -41, -42, -43, -44, -44, -46, -47],
       [-48, -49, -50, -51, -52, -53, -53, -55],
       [-56, -57, -58, -59, -60, -61, -62, -62]])

In [135]:
#element multiply
C * B

array([[ 0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  9,  0,  0,  0,  0,  0,  0],
       [ 0,  0, 18,  0,  0,  0,  0,  0],
       [ 0,  0,  0, 27,  0,  0,  0,  0],
       [ 0,  0,  0,  0, 36,  0,  0,  0],
       [ 0,  0,  0,  0,  0, 45,  0,  0],
       [ 0,  0,  0,  0,  0,  0, 54,  0],
       [ 0,  0,  0,  0,  0,  0,  0, 63]])

In [136]:
#element divide
C / B

/Users/zhongyizhang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: RuntimeWarning: divide by zero encountered in true_divide

array([[       inf, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        ],
       [0.        , 0.11111111, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.05555556, 0.        , 0.        ,
        0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.03703704, 0.        ,
        0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.02777778,
        0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.02222222, 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.01851852, 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.01587302]])

#### 8. Multiply "dot-style" the numpy array obtained from summation with the array B and print the results

In [137]:
D = C+B
D
dot(D,B)

array([[ 1120,  1149,  1178,  1207,  1236,  1265,  1294,  1323],
       [ 2920,  3013,  3106,  3199,  3292,  3385,  3478,  3571],
       [ 4720,  4877,  5034,  5191,  5348,  5505,  5662,  5819],
       [ 6520,  6741,  6962,  7183,  7404,  7625,  7846,  8067],
       [ 8320,  8605,  8890,  9175,  9460,  9745, 10030, 10315],
       [10120, 10469, 10818, 11167, 11516, 11865, 12214, 12563],
       [11920, 12333, 12746, 13159, 13572, 13985, 14398, 14811],
       [13720, 14197, 14674, 15151, 15628, 16105, 16582, 17059]])

## C. pandas

#### 9. Load data from the File-input.csv file into a pandas dataframe and print it to the Jupyter console

In [138]:
import pandas as pd
df1 = pd.read_csv("File-input.csv")
df1

,First name,Last name,Age,Phone,Temp,Height,Weight,City
0,David,Kain,78,(312) 524-6685,99.9,"5'11""",178,Chicago
1,Kevin,O'Hara,56,(312) 897-3358,102.5,"6'2""",185,Winnetka
2,Kara,Smith,37,(312) 895-2258,97.2,"6'3""",215,Oakbrook
3,Blair,Steel,67,(202) 323-5687,98.9,5'11',168,DC
4,Marie,Collins,54,(312) 564-2552,101.0,"6'0""",158,Chicago
5,Michael,Jordan,55,(312) 532-9985,99.9,"6'5""",192,Chicago
6,Peter,Arnold,23,(773) 528-8854,97.2,"5'8""",165,Oakbrook
7,John,McKenzie,43,(312) 326-5541,98.2,"6'2""",195,Chicago
8,Joanna,Jones,25,(773) 954-8854,101.2,"5'9""",145,Downers Grove
9,MaryLou,Andrews,34,(312) 253-2672,98.0,"5'6""",154,Winnetka
10,Jon,Clinton,85,(312) 321-9922,102.2,"5'5""",178,Oakbrook
11,Andy,Bush,44,(773)777-8833,98.5,"5'8""",165,Chicago

#### 10. Convert the dataframe into a list of Dictionaries using the .to_dict method and then save all the records from the pandas dataframe as different dictionaries. Orient them as 'records' and print them on different lines

In [139]:
result = df1.to_dict(orient='records')
result

[{'First name': 'David',
  'Last name': 'Kain',
  'Age': 78,
  'Phone': '(312) 524-6685',
  'Temp': 99.9,
  'Height': '5\'11"',
  'Weight': 178,
  'City': 'Chicago'},
 {'First name': 'Kevin',
  'Last name': "O'Hara",
  'Age': 56,
  'Phone': '(312) 897-3358',
  'Temp': 102.5,
  'Height': '6\'2"',
  'Weight': 185,
  'City': 'Winnetka'},
 {'First name': 'Kara',
  'Last name': 'Smith',
  'Age': 37,
  'Phone': '(312) 895-2258',
  'Temp': 97.2,
  'Height': '6\'3"',
  'Weight': 215,
  'City': 'Oakbrook'},
 {'First name': 'Blair',
  'Last name': 'Steel',
  'Age': 67,
  'Phone': '(202) 323-5687',
  'Temp': 98.9,
  'Height': "5'11'",
  'Weight': 168,
  'City': 'DC'},
 {'First name': 'Marie',
  'Last name': 'Collins',
  'Age': 54,
  'Phone': '(312) 564-2552',
  'Temp': 101.0,
  'Height': '6\'0"',
  'Weight': 158,
  'City': 'Chicago'},
 {'First name': 'Michael',
  'Last name': 'Jordan',
  'Age': 55,
  'Phone': '(312) 532-9985',
  'Temp': 99.9,
  'Height': '6\'5"',
  'Weight': 192,
  'City': 'Chicago'},
 {'First name': 'Peter',
  'Last name': 'Arnold',
  'Age': 23,
  'Phone': '(773) 528-8854',
  'Temp': 97.2,
  'Height': '5\'8"',
  'Weight': 165,
  'City': 'Oakbrook'},
 {'First name': 'John',
  'Last name': 'McKenzie',
  'Age': 43,
  'Phone': '(312) 326-5541',
  'Temp': 98.2,
  'Height': '6\'2"',
  'Weight': 195,
  'City': 'Chicago'},
 {'First name': 'Joanna',
  'Last name': 'Jones',
  'Age': 25,
  'Phone': '(773) 954-8854',
  'Temp': 101.2,
  'Height': '5\'9"',
  'Weight': 145,
  'City': 'Downers Grove'},
 {'First name': 'MaryLou',
  'Last name': 'Andrews',
  'Age': 34,
  'Phone': '(312) 253-2672',
  'Temp': 98.0,
  'Height': '5\'6"',
  'Weight': 154,
  'City': 'Winnetka'},
 {'First name': 'Jon',
  'Last name': 'Clinton',
  'Age': 85,
  'Phone': '(312) 321-9922',
  'Temp': 102.2,
  'Height': '5\'5"',
  'Weight': 178,
  'City': 'Oakbrook'},
 {'First name': 'Andy',
  'Last name': 'Bush',
  'Age': 44,
  'Phone': '(773)777-8833',
  'Temp': 98.5,
  'Height': '5\'8"',
  'Weight': 165,
  'City': 'Chicago'}]

#### 11. Access and print the 2nd dictionary as 2nd record of the pandas dataframe

In [140]:
#The first is [0], so the second dictionary is [1]
result[1]

{'First name': 'Kevin',
 'Last name': "O'Hara",
 'Age': 56,
 'Phone': '(312) 897-3358',
 'Temp': 102.5,
 'Height': '6\'2"',
 'Weight': 185,
 'City': 'Winnetka'}

#### 12. List all the keys of this dictionary, one per line, and then create a list with the them called “headers”

In [141]:
for row in result:
    dict = row.copy()
    
n = 3
dict = result[n]
for key in dict.keys():
   print(key)
print()

#create a list called headers
headers = list(dict.keys())
print(headers)

First name
Last name
Age
Phone
Temp
Height
Weight
City

['First name', 'Last name', 'Age', 'Phone', 'Temp', 'Height', 'Weight', 'City']

#### 13. Select and print the 4th element in the list

In [142]:
#[0]- the first, [1]- the second, [2] - the third, [3]- the fourth
headers[3]
print(headers[3])

Phone

#### 14. Modify the values for "Temp" and "Weight" keys for this specific record

In [143]:
dict["Temp"] = 98.3
dict["Weight"] = 174.1
print(list(dict.values()))

['Blair', 'Steel', 67, '(202) 323-5687', 98.3, "5'11'", 174.1, 'DC']

#### 15. Find the "First name" that has the Min value of "Weight" from the dataframe

In [145]:
# Reduce size of dataframe to just 2 columns of interest
df2 = df1[['First name','Weight']]
result = df2.to_dict(orient='records')

# Find the maxvalue and create a Tuple
min = 250
solution = ((),)
for row in result:
    weight = row['Weight']
    firstname = row['First name']
    if weight < min:
        min = weight
        solution = firstname, weight
print(solution)

('Joanna', 145)