# Concepts in Computer Programming

# Homework 8 Pandas

Name: Troy Zhongyi Zhang  
UCID: 12216279  
Netid: zhongyiz@uchicago.edu

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

1. Which of the following statements are correct (multiple answers possible)? Explain why!   
pandas is a Py package well suited for:   
a) Arbitrary matrix data   
b) Tabular data   
c) Statistical data   
--------------------------------------------------------------------------------------  
(i) a & b   
(ii) b & c   
(iii) all of the above  
(iv) none of the above

The answer will be "(iii) all of them".   
I will give some examples.

Arbitrary matrix data (homogeneously typed or heterogeneous) with row and column labels

In [2]:
#Example of arbitrary matrix data
df1 = pd.DataFrame(np.random.randn(3,4), index = ['Mary','Tom','Alice'], columns=list('ABCD'))
df1

              A         B         C         D
Mary   0.154529 -0.605512 -0.168494  0.556273
Tom   -1.094389 -0.916936  0.453673 -1.630263
Alice  0.685948 -0.102705 -1.251468 -0.692424

Tabular data with heterogeneously-typed columns, as in an SQL table or Excel spreadsheet

In [3]:
# Tabular data example
df2 = pd.DataFrame({ 'A' : 1.,
                     'B' : pd.Timestamp('20180511'),
                     'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                     'D' : np.array([3] * 4,dtype='int32'),
                     'E' : pd.Categorical(["test","train","test","train"]),
                     'F' : 'foo' })
df2

     A          B    C  D      E    F
0  1.0 2018-05-11  1.0  3   test  foo
1  1.0 2018-05-11  1.0  3  train  foo
2  1.0 2018-05-11  1.0  3   test  foo
3  1.0 2018-05-11  1.0  3  train  foo

Any other form of observational / statistical data sets - the data actually need not be labeled at all to be placed into a pandas data structure

In [4]:
# Statistical data example
df3 = pd.DataFrame(np.random.randn(5,6))
df3

          0         1         2         3         4         5
0  1.712785  0.001173  0.957855  1.399927 -0.128835  1.671612
1  0.949723 -0.884777  2.161188 -0.729634 -0.463061 -0.913142
2 -0.650503 -1.619027  0.132448 -0.789743 -1.725733  1.644326
3  1.897747  0.301083  0.997759  0.880445  0.907878 -0.792865
4 -0.073919 -0.451862  0.721220 -0.268596  1.367890  0.030568

2.Which are the primary data structures of pandas (multiple answers possible)?   
a) Dictionaries   
b) Data Frame   
c) Tuples & Lists   
d) Series   

-------------------------------------------------------------------------------------    
(i) a & b   
(ii) b & d   
(iii) b & c   
(iv) all of the above

The answer will be "(ii) b & d". The primary data structures of pandas are Data Frame (2-dimensional) and Series (1-dimensional).

3.Which of the following statements are correct (multiple answers possible)? Explain why!   
a) all pandas data structures are value-immutable   
b) pandas data structures are always size-mutable   
c) all pandas data structures are value-mutable   
d) pandas data structures are not always size-mutable   

--------------------------------------------------------------------------  

(i) a & d   
(ii) b & c   
(iii) c & d   
(iv) none of the above

The answer is "(iii) c & d".

For a), all pandas data structures are value-mutable (the values they contain can be altered) but not always size-mutable.  

For b), pandas data stuctures are not always size-mutable. The length of a Series cannot be changed. The Series (1-dimentional) is size-immutable, which means once a Series object is created operations such as appending/deleting which would change the size of the object are not allowed.  

For c), all pandas data structures are value-mutable (the values they contain can be altered). Correct!  

For d), pandas data stuctures are not always size-mutable. The Series (1-dimentional) is size-immutable. Correct!

4.Which of the following statement will import the pandas package? Explain why!   
a) import pandas as pd   
b) import panda as py    
c) import pandaspy as pd   
d) all of the above

The answer is "a) import pandas as pd".

The word after "import" is the package name, which can only be "pandas".
The word after "as" doesn't matter. It is just a shortcut abbreviation nickname for programmers to use during the following codes.  

For b), there is no package called "panda" in python.  
For c), there is no package called "pandaspy" in python.

5.Which of the following object you will get after reading a CSV file?   
a) DataFrame   
b) Character Vector   
c) Panel   
d) All of the above

The answer is "a) DataFrame".

You get columns out of a DataFrame the same way you get elements out of a dictionary.

----------------------------------------------------------------------------