# Convert pandas dataframe to a list of Dictionaries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
df = pd.DataFrame({ 'col-1': [1, 2, 4, 6, 10], 'col-2': [0.5, 0.75, -1.25, -3.0, 2.75]}, index=['row-1', 'row-2', 'row-3', 'row-4', 'row-5'])

In [7]:
print(df)

       col-1  col-2
row-1      1   0.50
row-2      2   0.75
row-3      4  -1.25
row-4      6  -3.00
row-5     10   2.75

## Convert dataframe to Dictionary

In [8]:
 df.to_dict()

{'col-1': {'row-1': 1, 'row-2': 2, 'row-3': 4, 'row-4': 6, 'row-5': 10},
 'col-2': {'row-1': 0.5,
  'row-2': 0.75,
  'row-3': -1.25,
  'row-4': -3.0,
  'row-5': 2.75}}

### Specify orientation of return

In [9]:
df.to_dict('series')

{'col-1': row-1     1
 row-2     2
 row-3     4
 row-4     6
 row-5    10
 Name: col-1, dtype: int64, 'col-2': row-1    0.50
 row-2    0.75
 row-3   -1.25
 row-4   -3.00
 row-5    2.75
 Name: col-2, dtype: float64}

In [10]:
df.to_dict('split')

{'index': ['row-1', 'row-2', 'row-3', 'row-4', 'row-5'],
 'columns': ['col-1', 'col-2'],
 'data': [[1.0, 0.5], [2.0, 0.75], [4.0, -1.25], [6.0, -3.0], [10.0, 2.75]]}

In [11]:
df.to_dict('records')

[{'col-1': 1.0, 'col-2': 0.5},
 {'col-1': 2.0, 'col-2': 0.75},
 {'col-1': 4.0, 'col-2': -1.25},
 {'col-1': 6.0, 'col-2': -3.0},
 {'col-1': 10.0, 'col-2': 2.75}]

In [12]:
df.to_dict('index')

{'row-1': {'col-1': 1, 'col-2': 0.5},
 'row-2': {'col-1': 2, 'col-2': 0.75},
 'row-3': {'col-1': 4, 'col-2': -1.25},
 'row-4': {'col-1': 6, 'col-2': -3.0},
 'row-5': {'col-1': 10, 'col-2': 2.75}}

### Specify mapping type

In [13]:
from collections import OrderedDict, defaultdict

In [14]:
df.to_dict(into=OrderedDict)

OrderedDict([('col-1',
              OrderedDict([('row-1', 1),
                           ('row-2', 2),
                           ('row-3', 4),
                           ('row-4', 6),
                           ('row-5', 10)])),
             ('col-2',
              OrderedDict([('row-1', 0.5),
                           ('row-2', 0.75),
                           ('row-3', -1.25),
                           ('row-4', -3.0),
                           ('row-5', 2.75)]))])

## A more complex example

### Load data from the File-input.csv file into a pandas dataframe

In [17]:
import operator 
dataFrame = pd.read_csv("File-inputA.csv")
print(dataFrame)

  First name Last name  Age           Phone   Temp Height  Weight      City
0      Blair     Steel   67  (202) 323-5687   98.9  5'11'     168        DC
1      Marie   Collins   54  (312) 564-2552  101.0   6'0"     158   Chicago
2    Michael    Jordan   55  (312) 532-9985   99.9   6'5"     192   Chicago
3        Jon   Clinton   85  (312) 321-9922  102.2   5'5"     178  Oakbrook
4       Andy      Bush   44   (773)777-8833   98.5   5'8"     165   Chicago

### Convert the data frame into a list of Dictionaries using the ".to_dict" method

In [18]:
result = dataFrame.to_dict(orient='records')

for row in result:
    dict = row.copy()
    print(dict)

{'First name': 'Blair', 'Last name': 'Steel', 'Age': 67, 'Phone': '(202) 323-5687', 'Temp': 98.9, 'Height': "5'11'", 'Weight': 168, 'City': 'DC'}
{'First name': 'Marie', 'Last name': 'Collins', 'Age': 54, 'Phone': '(312) 564-2552', 'Temp': 101.0, 'Height': '6\'0"', 'Weight': 158, 'City': 'Chicago'}
{'First name': 'Michael', 'Last name': 'Jordan', 'Age': 55, 'Phone': '(312) 532-9985', 'Temp': 99.9, 'Height': '6\'5"', 'Weight': 192, 'City': 'Chicago'}
{'First name': 'Jon', 'Last name': 'Clinton', 'Age': 85, 'Phone': '(312) 321-9922', 'Temp': 102.2, 'Height': '5\'5"', 'Weight': 178, 'City': 'Oakbrook'}
{'First name': 'Andy', 'Last name': 'Bush', 'Age': 44, 'Phone': '(773)777-8833', 'Temp': 98.5, 'Height': '5\'8"', 'Weight': 165, 'City': 'Chicago'}

### Access a specific dictionary from the list

In [20]:
n = 3
print(result[n])

{'First name': 'Jon', 'Last name': 'Clinton', 'Age': 85, 'Phone': '(312) 321-9922', 'Temp': 102.2, 'Height': '5\'5"', 'Weight': 178, 'City': 'Oakbrook'}

### List all the keys of this dictionary and store them in a new list

In [21]:
dict = result[n]

for key in dict.keys():
   print(key)
print()

headers = list(dict.keys())
print(headers)

First name
Last name
Age
Phone
Temp
Height
Weight
City

['First name', 'Last name', 'Age', 'Phone', 'Temp', 'Height', 'Weight', 'City']

### List all the values of this dictionary and then print them again in ascending order

In [22]:
for val in dict.values():
    print(val)
print()
   
sorted_d = sorted(dict.items(), key=operator.itemgetter(0))
print('Dictionary in ascending order by value : ',sorted_d)

Jon
Clinton
85
(312) 321-9922
102.2
5'5"
178
Oakbrook

Dictionary in ascending order by value :  [('Age', 85), ('City', 'Oakbrook'), ('First name', 'Jon'), ('Height', '5\'5"'), ('Last name', 'Clinton'), ('Phone', '(312) 321-9922'), ('Temp', 102.2), ('Weight', 178)]

### Create and print a list with all the keys from this dictionary

In [23]:
myKeyList = list(dict.keys())
print(myKeyList)

['First name', 'Last name', 'Age', 'Phone', 'Temp', 'Height', 'Weight', 'City']

### Create and print a list with all the values from this dictionary

In [24]:
myValueList = list(dict.values())
print(myValueList)

['Jon', 'Clinton', 85, '(312) 321-9922', 102.2, '5\'5"', 178, 'Oakbrook']

### Modify the values for some of the keys

In [25]:
dict["Temp"] = 98.6
dict["Weight"] = 172
print(list(dict.values()))

['Jon', 'Clinton', 85, '(312) 321-9922', 98.6, '5\'5"', 172, 'Oakbrook']

### Find the "Age" that is associated the max value of "Temp" from the dataframe

In [26]:
# Reduce size of dataframe to just 2 columns of interest
df = dataFrame[['Age','Temp']]
result = df.to_dict(orient='records')

# Find the maxvalue and create a Tuple
max = -1
solution = ((),)
for row in result:
    temp = row['Temp']
    age = row['Age']
    if temp > max:
        max = temp
        solution = age, temp
print(solution)

(85.0, 102.2)